@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}

body{
  margin-top: 50px;
}

.nav{
  font-family: 宋体;
  color: black;
  font-size: 14px;
  height: 6vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 5px #858585;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  overflow: hidden;
}
.nav img{
  width: 20vh;
}
.nav ul{
  width: 40vw;
  display: flex;
  justify-content:space-evenly;
}
.nav ul li{
  height: 6vh;
  display: flex;
  align-items: center;
}
.nav ul li:nth-child(6) a{
  transform: scale(1.2);
  color: #f16522;
}
.nav ul li:nth-child(6){
  border-bottom: 5px solid #f16522;
}
.nav ul li a:hover{
  transform: scale(1.02);
  color: #f16522;
  cursor: pointer;
}
.search{
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  left: 60vh;
}
.search-border{
  height: 4vh;
  border: 0;
  width: 200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 0 10px;
  position: relative;
  border: 1px solid rgb(0, 0, 0,0.3);
}
.search-border::after{
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  right: 15px;
  width: 18px;
  height: 18px;
  background-image: url("./images/search-normal.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.search-border>input{

  border: 0;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.search-border>input:focus::placeholder{
  opacity: 0;
}
.button{
  margin-left: 10px;
  color: black;
  border: 0;
  height: 5vh;
  width: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  }
.button:hover{
  transform: scale(1.1);
  color: #f16522;
}
a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f4f4f4;
  background: url('./images/g3.gif');
  background-size: cover;
  background-position: center;
}
.container{
    position: relative;
    width: 400px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 20px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .post{
   display: none;
   z-index: 9999;
}
.container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form .xhead::before{
    content: "差评";
}
#rate-2:checked ~ form .xhead::before{
    content: "有待改进";
}
#rate-3:checked ~ form .xhead::before{
    content: "一般";
}
#rate-4:checked ~ form .xhead::before{
    content: "满意";
}
#rate-5:checked ~ form .xhead::before{
    content: "非常满意";
}
#rate-1:checked ~ form .xhead::after{
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(./images/pingjia-1.png);
  background-size: cover;
  position: absolute;
  top: 24%;
  left: 29%;
}
#rate-2:checked ~ form .xhead::after{
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(./images/pingjia-2.png);
  background-size: cover;
  position: absolute;
  top: 24%;
  left: 29%;
}
#rate-3:checked ~ form .xhead::after{
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(./images/pingjia-3.png);
  background-size: cover;
  position: absolute;
  top: 24%;
  left: 29%;
}
#rate-4:checked ~ form .xhead::after{
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(./images/pingjia-4.png);
  background-size: cover;
  position: absolute;
  top: 24%;
  left: 29%;
}
#rate-5:checked ~ form .xhead::after{
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(./images/pingjia-5.png);
  background-size: cover;
  position: absolute;
  top: 24%;
  left: 29%;
}
.container form{
    display: none;
}
input:checked ~ form{
    display: block;
}
form .xhead{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #ffffff;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: #444;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    color: #c2c2c2;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}